@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  font-family: Montserrat;
  box-sizing: border-box;
}
.container{
  background-color: white;
  width: 90%;
  min-width: 500px;
  margin: auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation{
  display: flex;
  justify-content: space-between;
  background-color: orange;
  padding: 10px;
}

.navigation-items{
  display: inline-flex;
  padding-right: 20px;
  margin-right: 10px;
  font-weight: 700;
}

.logo{
  font-size: larger;
  font-weight: 700;
}
.contact-us{
  background-image: url("./Images/good-contact-us.jpeg");
  background-color: green;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:cover; 
  text-align: center;
}
.enquiries{
  border: solid orange;
  border-radius: 20px;
  background-color: orange;
  color: white;
  font: 700;
  font-weight: 700;
  margin-top: 50px;
  margin-right: 1300px;
  padding-top: 30px;
  padding: 20px;
  margin-left: 30px;
}
.image{
  margin-left: 30px;
  margin-top: 30px;
}
.footer{
  border: solid black;
  height: 100px;
  background-color: black;
  margin-top: 20px;
}
.meals{
  display: inline-grid;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.card{
  width: 200px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
.card-image{
  width: 100%;
}
.card-body{
  padding: 10px;
  text-align: center;
}
.category{
  color: orange;
}

.template{
  display: inline-grid;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.myInput{
  margin-top: 20px;
}
#searchInput{
  margin-top: 20px;
  margin-left: 800px;
}